    <!-- main header -->
    <header id="header_main" ng-controller="main_headerCtrl">
        <div class="header_main_content">
            <nav class="uk-navbar">
                <div class="main_logo_top" ng-if="topMenuActive || fullHeaderActive">
                    <span style="color:#fff; font-weight: 500">A-Check 1.0</span>
                </div>
                <!-- main sidebar switch -->
                <sidebar-primary-toggle></sidebar-primary-toggle>
               
                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav user_actions">                       
                        <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                            <a href="#" class="user_action_image"><img class="md-user-image" ng-src="{{user_data.avatar}}" alt="" add-image-prop/></a>
                            <div class="uk-dropdown uk-dropdown-small">
                                <ul class="uk-nav js-uk-prevent">
                                    <li><a ng-click="changeUserDataDialog()">Миний тохиргоо</a></li>       
                                    <li><a ng-click="changePasswordDialog()">Нууц үг солих</a></li>                
                                    <li><a ng-click="logout()">Гарах</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header_main_search_form">
            <main-search-hide ng-if="!mainSearchPersistent"></main-search-hide>
            <form class="uk-form uk-autocomplete" data-uk-autocomplete="{source:'data/search_data.json'}">
                <input type="text" class="header_main_search_input" />
                <button class="header_main_search_btn uk-button-link"><i class="md-icon material-icons">&#xE8B6;</i></button>
                <script type="text/autocomplete">
                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results" id="autocomplete_results">
                        {{~items}}
                        <li data-value="{{ $item.value }}">
                            <a href="{{ $item.url }}" class="item needsclick">
                                {{ $item.value }}<br>
                                <span class="uk-text-muted uk-text-small">{{{ $item.text }}}</span>
                            </a>
                        </li>
                        {{/items}}
                    </ul>
                </script>
            </form>
        </div>
    </header><!-- main header end -->